/* Register.css */

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .main1-container{
    font-family: Arial, sans-serif;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }
  /* Register Container */
  .register-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* Form Inputs */
  .register-container input {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .register-container input:focus {
    border-color: #325dd2;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Submit Button */
  .register-container button {
    width: 100%;
    background-color: #325dd2;
    color: white;
    padding: 14px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .register-container button:hover {
    background-color: #218838;
    transition: 0.3s;
  }
  
  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    .register-container {
      padding: 20px;
      box-shadow: none;
      border-radius: 0;
    }
    
    .register-container h2 {
      font-size: 1.8rem;
    }
  
    .register-container input {
      font-size: 0.9rem;
    }
  
    .register-container button {
      font-size: 0.9rem;
    }
  }
  